.container {
    background-color: #C4C5BA;
    padding: 20px;
    border: 2px solid;
    border-color: #595f39;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    color: #1B1B1B;
}
.container h1 {
    text-align: center;
    margin-bottom: 20px;
    color: #1B1B1B;
}
.input{
    margin: 20px;
    padding: 10px;
}
.button{
    margin: 20px;
    margin-bottom: 5px;
    padding: 10px;
}
.button .upload-button{
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: 600;
    margin: 0 5px;
}
.upload-button {
    background-color: #595f39;
    color: #E4E4DE;
    position: relative;
}
.upload-button:hover {
    background-color: #353822;
    color: #E4E4DE;
}
