.container {
    background-color: #31363F;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    color: #EEEEEE;
}
.container h1 {
    text-align: center;
    margin-bottom: 20px;
    color: #EEEEEE;
}
.input{
    margin: 20px;
    padding: 10px;
}
.button{
    margin: 20px;
    margin-bottom: 5px;
    padding: 10px;
}
.button .upload-button{
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: 600;
    transition: background-color 0.3s;
    margin: 0 5px;
}
.upload-button {
    background-color: #76ABAE;
    color: #222831;
    position: relative;
}
.upload-button:hover {
    color: #EEEEEE;
    background-color: #222831;
}
