.container {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    color: black;
    border: 2px solid black;
}
.container h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #00796b;
}
.button-group {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
}
.button-group span {
    flex: 1;
}
.button-group button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: 600;
    transition: background-color 0.3s;
    margin: 0 5px;
}
.button-group input[type="file"] {
    display: none;
}
.upload-button {
    background-color: green;
    color: white;
    position: relative;
}
.upload-button:hover {
    background-color: darkgreen;
}
