
.heading h1{
    margin: 0;
    padding: 0;
    color: #1B1B1B;
}

.container{
    display: flex;
    color: #1B1B1B;
}
.box{
    flex: 1;
    padding: 10px;
    margin: 2.5%;
    border: 2px solid #595f39;
    background-color: #C4C5BA;
    border-radius: 20px;
}

.link a {
    background-color: #595f39;
    color: #E4E4DE;
    position: relative;
    display: block;
    font-size: 1.5vw;
    text-align: center;
    text-decoration: none;
    margin-bottom: 1vw;
    padding: 1vw;
    border-radius: 1vw;
}
.link a:hover {
    background-color: #353822;
    color: #E4E4DE;
}
img{
    border-radius: 10px;
}