
.heading h1{
    margin: 0;
    padding: 0;
    color: #EEEEEE;
}

.container{
    display: flex;
    color: #EEEEEE;
}
.box{
    flex: 1;
    padding: 10px;
    margin: 2.5%;
    border: 1px solid #000;
    background-color: #31363F;
    border-radius: 20px;
}

.link a {
    background-color: #76ABAE;
    color: #222831;
    position: relative;
    display: block;
    font-size: 1.5vw;
    color: #222831;
    text-align: center;
    text-decoration: none;
    margin-bottom: 1vw;
    padding: 1vw;
    border-radius: 1vw;
}
.link a:hover {
    background-color: #ddd;
    color: black;
}
img{
    border-radius: 10px;
}