h1{
    color: #1B1B1B;
}

.data{
    color: #1B1B1B;
    width: 50%;
    display: flex;
    flex-direction: column;
}
.data p{
    margin: 10px;
}
.button{
    margin: 20px;
    margin-bottom: 5px;
    padding: 10px;
}
.button a{
    background-color: #595f39;
    color: #E4E4DE;
    position: relative;
    display: block;
    font-size: 1.5vw;
    text-align: center;
    text-decoration: none;
    margin-bottom: 1vw;
    padding: 1vw;
    border-radius: 1vw;
}
.button a:hover {
    background-color: #353822;
    color: #E4E4DE;
}
