body {
    font-family: Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #E4E4DE;
    position: relative;
}
nav{
    background-color: #1B1B1B;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 60px;
    margin: 0 auto;
    display: flex;
    align-items: center;
}
nav *{
    
    display: inline;
}
nav a{
    margin: 20px;
    color: #E4E4DE;
    text-decoration: none;
    font-weight: 600;
    font-family: Helvetica, sans-serif;
}
#spacer{
    height: 100px;
    max-height: 35vh;
}