<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" href="{% static 'base_style.css' %}">
    <title>Passport OCR</title>
</head>
<body>
    <nav class="navbar">
        <a href="{% url 'home' %}">Passport OCR</a>
        <a href="https://github.com/PremR22">Link to Code</a>
    </nav>
    <div id="spacer"></div>
    {% block content %}
    {% endblock content %}
</body>
</html>