{% extends "base.html" %}
   
{% block content %}
{% load static %}
<link rel="stylesheet" href="{% static 'OCRapp/upload_style.css' %}">
<div class="container">
    <h1>Insert your Passport Images</h1>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="input">
            <span>Passort Front Image :</span>
            {{ form.front_image }}
        </div>
        <div class="input">
            <span>Passport Back Image :</span>
            {{ form.back_image }}
        </div>
        <div class="button">
            <button type="submit" class="upload-button">UPLOAD</button>
        </div>
    </form>
</div>
{% endblock content %}