{% extends "base.html" %}
   
{% block content %}
{% load static %}
<link rel="stylesheet" href="{% static 'OCRapp/view_image_style.css' %}">

<div class="heading">
    <h1>Extracted Raw Text</h1>
</div>
<div class="container">
    <div class="box">
    <h3>Front Image</h3>
    <p>{{ passport.front_text }}</p>
    <img src="{{ passport.front_image.url }}" alt="Front Image" width="100%">
    </div>

    <div class="box">
    <h3>Back Image</h3>
    <p>{{ passport.back_text }}</p>
    <img src="{{ passport.back_image.url }}" alt="Back Image" width="100%">
    </div>
</div>

<div class="link">
<a href="{% url 'view_clean_data' passport.id%}"> View Clean Data</a>
</div>

{% endblock content %}